<router-outlet>

    <input type="text" [(ngModel)]="test">
    {{ test }}
    
    <input type="text" [(ngModel)]="power" >
    {{power }}
    <br>
    
    
    
    <div *ngIf="test === 'testo'">
      este es un dic
    </div>
    
    <div *ngIf="test === 'testo2'">
      esto dice testo2
    </div>
    
    <div *ngIf="test === 'AAA'">
      esto dice AAA
    </div>
    
    <div [ngSwitch]="test" >
      <p *ngSwitchCase="'test1'"> SWITCH 1</p>
      <p *ngSwitchCase="'test2'" > CASE 2 </p>
      <p *ngSwitchCase="'test3'" > CASE 3 </p>
      <p *ngSwitchDefault > DEFAULT </p>
    </div>
    
    <button (click)="addItem()">Add item</button>
    
    <ul>
      <li *ngIf="items.length === 0"> la lista está vacía</li>
      <li *ngFor="let name of items; index as i" >
        {{ name }} - {{ i }}
        <button (click)="deleteItem(i)" >Delete</button>
      </li>
    </ul>
    
    
    
    
    
    
    
    