

//Esto para emitir el evento programado en el product.componen.ts
<div class="product-grid">
  <app-product  *ngFor="let product of products" (productClickled) = "clickProduct($event)" [product]="product" ></app-product>

</div>
