
<mat-card>
    <mat-card-header>
        <mat-card-title> {{ product.title | uppercase }} </mat-card-title>
        <mat-card-subtitle>{{ product.price | currency}} </mat-card-subtitle>
    </mat-card-header>
    <div class="crop-image">
    <img [src]="product.image" alt="">
    </div>
    <mat-card-content>
        <p>{{ product.description | slice:0:5 }} </p>
    </mat-card-content>
    <mat-card-actions>
        <button (click)="addToCart()" mat-raised-button color="primary" >Agregar al carrito</button>
        <button mat-raised-button color="primary" [routerLink]="['/products/', product.id]">Ver detalle</button>  
    </mat-card-actions>
</mat-card>



